@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap');


.sthalam{
    width: 100%;
    height: 44px;
}
.mnbg{
    background-image: url("../imgs/bgmain.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}



.nave{
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
background: rgba(255, 255, 255, 0.40);
box-shadow: 0px 2px 23px 1px rgba(255, 255, 255, 0.25);
backdrop-filter: blur(5.5px);
padding-left: 27px;
padding-right: 27px;
padding-top: 24px;
padding-bottom: 24px;
margin-left: 15px;
margin-right: 15px;

}
.nave a{
    color: #FFF;
font-family: Oxanium;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;

}
.revhh{
    width: 100%;
    object-fit: contain;
    margin-top: 60%;

}
